allosaurus==1.0.2 ; python_version >= "3.8" and python_version < "3.11"
audeer==1.18.0 ; python_version >= "3.8" and python_version < "3.11"
audformat==0.15.2 ; python_version >= "3.8" and python_version < "3.11"
audinterface==0.9.1 ; python_version >= "3.8" and python_version < "3.11"
audiofile==1.1.0 ; python_version >= "3.8" and python_version < "3.11"
audobject==0.7.5 ; python_version >= "3.8" and python_version < "3.11"
audresample==1.1.0 ; python_version >= "3.8" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "3.11"
click==8.0.2 ; python_version >= "3.8" and python_version < "3.11"
cmake==3.26.3 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
colorama==0.4.5 ; python_version >= "3.8" and python_version < "3.11" and platform_system == "Windows"
contourpy==1.0.7 ; python_version >= "3.8" and python_version < "3.11"
coverage==6.4.4 ; python_version >= "3.8" and python_version < "3.11"
cycler==0.11.0 ; python_version >= "3.8" and python_version < "3.11"
editdistance==0.6.2 ; python_version >= "3.8" and python_version < "3.11"
filelock==3.12.0 ; python_version >= "3.8" and python_version < "3.11"
fonttools==4.38.0 ; python_version >= "3.8" and python_version < "3.11"
importlib-metadata==4.12.0 ; python_version >= "3.8" and python_version < "3.11"
iso-639==0.4.5 ; python_version >= "3.8" and python_version < "3.11"
iso3166==2.1.1 ; python_version >= "3.8" and python_version < "3.11"
jinja2==3.1.2 ; python_version >= "3.8" and python_version < "3.11"
joblib==1.2.0 ; python_version >= "3.8" and python_version < "3.11"
kiwisolver==1.4.4 ; python_version >= "3.8" and python_version < "3.11"
lit==16.0.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
llvmlite==0.39.1 ; python_version >= "3.8" and python_version < "3.11"
markupsafe==2.1.2 ; python_version >= "3.8" and python_version < "3.11"
matplotlib==3.6.3 ; python_version >= "3.8" and python_version < "3.11"
mpmath==1.3.0 ; python_version >= "3.8" and python_version < "3.11"
munkres==1.1.4 ; python_version >= "3.8" and python_version < "3.11"
networkx==3.1 ; python_version >= "3.8" and python_version < "3.11"
numba==0.56.4 ; python_version >= "3.8" and python_version < "3.11"
numpy==1.23.1 ; python_version < "3.11" and python_version >= "3.8"
nvidia-cublas-cu11==11.10.3.66 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
nvidia-cuda-cupti-cu11==11.7.101 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
nvidia-cuda-nvrtc-cu11==11.7.99 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
nvidia-cuda-runtime-cu11==11.7.99 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
nvidia-cudnn-cu11==8.5.0.96 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
nvidia-cufft-cu11==10.9.0.58 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
nvidia-curand-cu11==10.2.10.91 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
nvidia-cusolver-cu11==11.4.0.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
nvidia-cusparse-cu11==11.7.4.91 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
nvidia-nccl-cu11==2.14.3 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
nvidia-nvtx-cu11==11.7.91 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
opensmile==2.4.1 ; python_version >= "3.8" and python_version < "3.11"
oyaml==1.0 ; python_version >= "3.8" and python_version < "3.11"
packaging==23.0 ; python_version >= "3.8" and python_version < "3.11"
pandas==1.4.4 ; python_version >= "3.8" and python_version < "3.11"
panphon==0.20.0 ; python_version >= "3.8" and python_version < "3.11"
pillow==9.4.0 ; python_version >= "3.8" and python_version < "3.11"
praat-parselmouth==0.4.3 ; python_version >= "3.8" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.8" and python_version < "3.11"
pyparsing==3.0.9 ; python_version >= "3.8" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.11"
pytz==2022.2.1 ; python_version >= "3.8" and python_version < "3.11"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "3.11"
regex==2023.3.23 ; python_version >= "3.8" and python_version < "3.11"
resampy==0.4.2 ; python_version >= "3.8" and python_version < "3.11"
scikit-learn==1.1.2 ; python_version >= "3.8" and python_version < "3.11"
scipy==1.8.1 ; python_version >= "3.8" and python_version < "3.11"
setuptools-scm==7.1.0 ; python_version >= "3.8" and python_version < "3.11"
setuptools==65.7.0 ; python_version >= "3.8" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.11"
sklearn==0.0 ; python_version >= "3.8" and python_version < "3.11"
soundfile==0.10.3.post1 ; python_version >= "3.8" and python_version < "3.11"
sox==1.4.1 ; python_version >= "3.8" and python_version < "3.11"
sympy==1.11.1 ; python_version >= "3.8" and python_version < "3.11"
threadpoolctl==3.1.0 ; python_version >= "3.8" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
torch==2.0.0 ; python_version >= "3.8" and python_version < "3.11"
tqdm==4.64.0 ; python_version >= "3.8" and python_version < "3.11"
triton==2.0.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.4.0 ; python_version >= "3.8" and python_version < "3.11"
unicodecsv==0.14.1 ; python_version >= "3.8" and python_version < "3.11"
wheel==0.40.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.11"
zipp==3.8.1 ; python_version >= "3.8" and python_version < "3.11"
